<div class="center hero-unit">
    <h1>Welcome to the Goods App</h1>
    
    <h2>Add and edit products with ease and delight!</h2>
    
    <div><%= link_to "Sign In", 'signin', class: "btn btn-large btn-primary" %></div>
    <br>
    <div>Not a member? <%= link_to "Sign up now!", 'signup' %></div>
    
</div>