<% provide(:title, 'About') %>

<h1>About</h1>

<p>Goods App is a bare-bones application for users to add, edit, and delete products, as well as browse other users' goods. The Product model includes a name, product type (single item or item set), price, description, and image. Currently available images are pre-uploaded as this app is for demonstration purposes only.</p>

<p>This app was developed using Ruby on Rails and all the associated code is available on <a href="https://www.github.com/munrosarah/goods_app">GitHub</a>. Error testing is conducted with RSpec.</p>

<p>It was based on the <a href="ruby.railstutorial.org">rails tutorial</a> micropost app, but was written from scratch by <a href="http://ellipsisetc.com/resume.html">Sarah Munro</a>.</p>