<% provide(:title, 'Contact') %>

<h1>Contact</h1>

<p>All the associated code for this application is available on <a href="https://www.github.com/munrosarah/goods_app">GitHub</a>.</p>

<p>You can contact Sarah Munro at munro.sarah@gmail.com</p>