// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.product {
    font-family: "Lucida Sans Unicode";
    padding: 25px 25px 25px 25px;
    
}
div.product .attribute{
    font-size: 16px;
    font-weight: bold;
    line-height: 150%;
}

div.product .name {
    font-size: 24px;
    color: #0000A0;
    line-height: 150%;
}

div.product .price {
    font-size: 14px;
    color: #A52A2A;
    line-height: 150%;
}

div.product .desc{
    font-size: 14px;
    line-height: 150%;
}

div.product img {
    width: 500px;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

div.product_small{
    width: 200px;
    height: 175px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #5E8C6A;
    font-family: "Lucida Sans Unicode";
}


div.product_small .product_name{
    margin-top: 10px;
    font-size: 14px;
}

div.product_small .product_type {
    color: #5E8C6A;
}

div.product_small .product_price{
    color: #A3ADAF;
}


div.product_holder{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    
}


div.product_thumb img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}



div.product_small a:link, a:visited {
    color: #8C2318;
}

div.product_small a:hover, a:active {
    color: #ED3300;
    text-decoration: none;
}