// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product {
    font-family: "Lucida Sans Unicode";
    padding: 25px 25px 25px 25px;
        .attribute{
        font-size: 16px;
        font-weight: bold;
        line-height: 150%;
    }
    
    .name {
        font-size: 24px;
        color: #0000A0;
        line-height: 150%;
    }

    .price {
    font-size: 14px;
    color: #A52A2A;
    line-height: 150%;
    }

    .desc{
        font-size: 14px;
        line-height: 150%;
    }

    img {
        width: 500px;
        
        margin-top: 10px;
    }
    
}

.product_small{
    width: 200px;
    height: 210px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #5E8C6A;
    font-family: "Lucida Sans Unicode";
    position: relative;

        
    .product_info{
        height: 60px;
    
        padding:5px;
        margin-top: auto;
        margin-bottom: auto;
        
    }
    
    .product_name{
        margin-top: 10px;
        font-size: 14px;
    }
    
    .product_type {
        color: #5E8C6A;
    }
    
    .product_price{
        color: #A3ADAF;
    }

    a:link, a:visited{
        color: rgb(131, 29, 55);
    }
    
    a:active, a:hover{
        color: rgb(98,25,32);
    }

}


.product_holder{
    width:100%;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    background-color:#E8E5E5;
    
    img{
        margin-left: auto;
        margin-right: auto;
        height: 140px;
        background: none;
    }
    
}



.preview_box {
    margin: 0px 10px 10px 0px;
    border-color: rgb(220,220,220);
    border-width: 1px;
    border-style: solid;
    max-height: 50px;
    overflow: hidden;
    
}

.preview_image{
        margin-top: -100px;
        width: 200px;
}