<% provide(:title, 'All products') %>

<h1>All products</h1>

<%= will_paginate @products %>

<table class="products">
  <% @products.in_groups_of(3) do |product_row| %>
    <tr>
    <% product_row.each do |single_product| %>
      <% unless single_product.nil? %>
        <td><%= render single_product %></td>
      <% end %>  
    <% end %>
    </tr>
  <% end %>
  
</table>

<%= will_paginate @products %>